body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: #014688;
}

.row {
  border: 2px solid black;
}

div.col-sm-4 {
  border: 2px solid black;
}

.delicious {
  width: 100%;
}

.bg-purple {
  background-color: #af00bd;
}

.bg-green {
  background-color: #00fe00;
}

.bg-love {
  background-color: #ff98ea;
}

.bg-dark:hover, .bg-dark {
  color: white;
}

table {
  margin-top: 100px;
}

.close {
  float: right;
}

.linky {
  text-decoration: none;
  color: black;
}

.gaming:hover {
  background-color: #808080;
}

.game:hover {
  background-color: #80c0ff;
}

.linkyy {
  color: white;
  text-decoration: none;
}

.linkyy:hover {
  color: white;
}

.resize {
  width: 640px;
}

.carousel {
  width: 640px;
  margin: auto;
  background-color: #202030;
}

.test {
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}

.justify-content-center, .align-items-center, .center {
  margin: auto;
}

.br-5 {
  margin-top: 200px;
}

.br-3 {
  margin-top: 120px;
}

.br-b-2 {
  margin-bottom: 80px;
}
