body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: #198046;
}

.row {
  border: 2px solid black;
}

.col-sm-2 {
  border: 2px solid black;
}

.delicious {
  width: 100%;
}

.bg-purple {
  background-color: #af00bd;
}

.bg-green {
  background-color: #00fe00;
}

.bg-love {
  background-color: #fffefe
}
